{% extends "base.html" %}

{% block content %}
<div class="container px-2 py-5">
    <div class="row justify-content-center">
        <div class="form-signin col-3 ">
            <form id="login-form" method="post" action="http://127.0.0.1:5001/auth" enctype="multipart/form-data">
                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

                <div class="form-floating">
                    <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>

                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
